body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f5;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.main-image {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #6c63ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #5548c8;
}
